.contact-section {
  color: black;
  font-family: "Fira Code", monospace;
  padding: 4rem 2rem;
}

.contact-content { 
  display: flex; 
  justify-content: space-between; 
  align-items: flex-start; 
  flex-wrap: wrap; 
  gap: 2rem;
} 

.contact-text { 
  max-width: 450px; 
  color: #4f4f4f; 
  font-size: 0.95rem; 
  line-height: 1.7em; 
}

.contact-box { 
  border: 3px solid #d8949d;
  padding: 1.5rem 2rem; 
  background-color: transparent; 
  width: 260px;
}

.contact-box h3 { 
  margin-bottom: 1rem; 
  color: #54524f; 
} 

.contact-box p { 
  margin: 0.5rem 0; 
  color: #54524f; 
} 

.contact-box span { 
  color: #d8949d; 
}

.contact-form {
  margin:-4rem auto;
  text-align: center;
  max-width: 500px;
}

.contact-form h3 {
  color: #d8949d;
  margin-bottom: 1.5rem;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.8rem 1rem;
  border: 1px solid #000;
  border-radius: 5px;
  font-family: "Fira Code", monospace;
  font-size: 0.9rem;
  outline: none;
  transition: 0.3s;
  background-color: black;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #d8949d;
  box-shadow: 0 0 5px #d8949d;
}

.send-btn {
  background-color: #d8949d;
  color: white;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  font-family: "Fira Code", monospace;
  cursor: pointer;
  transition: 0.3s;
}

.send-btn:hover {
  background-color: #b86b74;
}

.success-msg {
  display: none;
  color: #28a745;
  margin-top: 1rem;
  font-size: 0.9rem;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}



.copyright { 
  text-align: center; 
  margin-top: 8rem; 
  font-size: 0.8rem; 
  color: #4f4f4f; 
}
