.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  z-index: 1000;
  background-color: #fef4ea;
}




.logo img {
  height: 71px;
  width: auto;
  object-fit: contain;
  display: block;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}


.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #d8949d;
}


