
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
    padding: 0px 6% 2px;
  box-sizing: border-box;
}



.hero-left {
align-items: flex-start;
        text-align: center;
        max-width: 500px;
}

.hero-title {
    font-size: 3rem;
    font-weight: 700;
    color: #222;
    margin-bottom: 1rem;

}

.hero-title span {
    color: #d8949d;
}


.hero-subtitle {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.hero-right {
  flex: 1;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
}

.hero-image {
    max-width: 100%;
    max-height: 100vh;
    height: auto;
    border-radius: 15px;

}


.button {
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  border: none;
  cursor: pointer;
  align-items: center;
  gap: 0.75rem;
  background-color: #d8949d;
  color: #fff;
  border-radius: 10rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s;
}

.button__icon-wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  color: #d8949d;
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.button:hover {
  background-color: #000;
}

.button:hover .button__icon-wrapper {
  color: #000;
}

.button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, -100%);
}

.button:hover .button__icon-svg:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, 100%); 
}

.button:hover .button__icon-svg--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}



@media (max-width: 900px) {
  .hero {
    flex-direction: column-reverse;
    padding: 40px 10%;
    text-align: left;
  }

  .hero-left {
    align-items: flex-start;
    text-align: center;
    max-width: 500px;
  }

  .hero-right {
    justify-content: center;
    margin-bottom: 30px;
  }

  .hero-image {
    max-width: 400px;
  }
}


