.three {
  text-align: center; 
  position: relative;
}

.three h1 {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 15px;
  display: inline-block;  
  position: relative;     
  color: #d8949d;
}


.three h1:before {
  content: "";
  position: absolute;
  left: 50%;            
  transform: translateX(-50%);
  bottom: 0;
  height: 5px;
  width: 55px;
  background-color: #111;
}


.three h1:after {
  content: "";
  position: absolute;
  left: 50%;             
  transform: translateX(-50%);
  bottom: 2px;
  height: 1px;
  width: 95%;
  max-width: 255px;
  background-color: transparent;
}


.slider {
  width: 100%;
  overflow: hidden;
  background-color: transparent;
  padding: 2rem 0;
}

.slide-track {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.logo-box {
  flex: 0 0 auto;
  margin-right: 2rem;
}

.logo-box img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}